.nav-bar{
   color: blue;
   font-size: 100;
   font-weight: 800;
   
}

.nav-bar li{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    display: inline-block; 
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    

 
 }